{% include 'nav_bar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact details</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">

</head>
{% block content %}

<body>
<div class="contact-box">
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <center><img src="{% static 'images/my_logo.jpg' %}"><center>
            {{form.as_p}}
    <center><input id="send" class="btn btn--sub btn--lg  my-md" type="submit" value="Send Message" /></center>
</div>
</body>

<script>
</script>

</html>
{% endblock %}