{% include 'nav_bar.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>History</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'history.css' %}">
        <div class='boy'></div>
        <div class='nag'> Historia</div>
    </head>
    <body>
        {% block content %}
        <div class='container'>
           <ul class='mainUL_history'>
                <li> 1998 - rodze sie w Ełku (miasto na mazurach) </li>
                <li> 1999 - rodzice przeprowadzaja sie do Krzywego (wioska pod Suwalkami) </li>
                <li> 2004 - ide do przedszkola w szkole podstawowej nr 6 w Suwalkach </li>
                <li> 2010 - moj tata buduje silownie w piwnicy</li>
                <li> 2011 - zaczynam trenowac, aby byc lepszy w siatkowke (gram od 8 roku zycia) </li>
                <li> 2012 - zaczynam grac w koszykowke </li>
                <li> 2012 - rezygnuje z siatkowki po 10 latach trenowania </li>
                <li> 2013 - ide do III Dwujezycznego LO w Suwalkach </li>
                <li> 2016 - wkraczam w doroslosc </li>
                <li> 2017 - wyjezdzam na studia </li>
                <li> 2017 - zaczynam trenowac trojboj </li>
                <li> 2018 - studiuje, pracuje na dwoch etatach, trenuje na silowni i w lidze koszykowki </li>
                <li> 2018 - moje pierwsze zawody w trojboju i total 515 kg (170kg przysiad, 115kg wyciskanie, 230kg martwy ciag) </li>
                <li> 2018 - poznaje moja obecna dziewczyne Asie </li>
                <li> 2021 - zaczynam szukac innej sciezki kariery </li>
                <li> 2021 - koncze studia na kierunku Gospodarka Przestrzenna </li>
                <li> 2021 - zaczynam nauke programowania, interesuje mnie python </li>
                <li> 2021 - wyjezdzam na Islandie </li>
                <li> 2021 - pracuje i zwiedzam Islandie </li>
                <li> 2022 - zdobywam pierwsza prace w IT (QA Engineer) </li>
                <li> 2022 - rozpoczynam studia informatyczne </li> 
                <li> 2022 - przeprowadzam sie do Warszawy</li>
        </div>
        <script src="" async defer></script>
        {% endblock content %}
    </body>
</html>