<!DOCTYPE html>
{% load static %}
{% include 'nav_bar.html' %}


<html>
<head>
    
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>   
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Project - MG v2.0</title>
    
</head>
<body>
    {% block content %}
     <div>
        <img class="background_image" src="{% static 'images/background_image.jpg' %}" alt='background_image' />
     </div>
    <center><h1> Project - MG v2.0 </h1></center>
    <div class="container">
        <ul class="mainUL">
            <li> &#9995; Cześć, nazywam sie Marcin Gałażyn</li>
            <li> &#8986; Mam 24 lata</li>
            <li> &#128102; Cała moją historie masz <a class='cta' href="{% url 'history' %}"> tutaj .</a></li>
            <li> &#128187; Aktualnie staram sie zbudować swoja karierę w IT (Aktualnie QA Enginner) </li>
            <li> &#127976; Mieszkam w Warszawie </li>
            <li> &#127968; Natomiast pochodzę z Suwalszczyzny</li>
            <li> &#128194; Z innych ciekawostek: 
                <ul class="nestedUL">
                    <li> Jak nie koduje to trenuje <a class='cta' href="{% url 'powerlifting' %}">trojboj </a> </li>
                    <li> Podnosze 270kg w martwym ciągu </li>
                    <li> Robie przysiad z 210kg </li>
                    <li> Wyciskam 140kg </li>
                    <li> Odwiedzilem 11 krajow, z czego moim ulubiony jest: <a class='cta' href="{% url 'iceland' %}"> <i class="flag flag-iceland"></i> Islandia </a></li> 
                </ul>
            </li>
        </ul> 
    </div>
    <h2> SOCIAL MEDIA </h2>
        <ul class="socialUL">
            <li><a href="https://github.com/Mgalazyn"> Github</a></li>
            <li><a href="https://mgalazyn.herokuapp.com/">Projects page</a></li>
            <li><a href="https://www.linkedin.com/in/marcin-ga%C5%82a%C5%BCyn-52bb911a8/"> Linkedin</a></li>
            <li><a href="https://www.instagram.com/marcingalazynn/"> Instagram </a></li>
        </ul>
    <center><h3> ZASADY </h3></center>
    <ul class="rulesUL">
        <li> Done is better than perfect  </li>
        <li> Procastination is like a credit card: it's fun until you get the bill </li>
        <li> Discipline beats motivation </li> 
    </ul>

    {% endblock content %}

{% block scripts %}
    <!-- Alertify JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        {% for flashmsg in messages %}
        alertify.set('notifier','position', 'top-center');
        alertify.success('{{flashmsg}}');
        {% endfor %}

    </script>
{% endblock %}
</body>
</html>