body {
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card-logo {
    position: absolute;
    top: 22%;
    width: 50%;
    text-align: center;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
}


.login-card-form .form-item-other {
    display: relative;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1.5rem * .8);
    margin-bottom: .5rem;
}


.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1.5rem * .8);
}

.login-card input[type="text"],
.login-card input[type="password"] {
    border: none;
    outline: none;
    background: rgb(44, 79, 194);
    padding: 1rem 10rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
}

.btn-back {
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;
    color: grey;
    font-weight: 500;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 9px 25px;
    background-color: black;
    border: none;
    cursor: pointer; 
    position: absolute; 
    top: 0; 
    left: 10px;
}


