@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: grey;
    text-decoration: none;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10% ;
    background-color: whitesmoke;
}

.logo {
    display: flex;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color:black
}

button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: white;
}

.imgbox {
    display: grid;
    height: 100%;
}

.background_image {
    width: 100%;
    max-height: 30vh;
    margin: auto;
    object-fit: fill;
    background-size: cover;
}

.background_image2 {
    width: 125px;
    position: absolute;
    top: 275px;
    left: 700px;
}

h1 {
    position: absolute;
    top: 385px;
    left: 750px;
    font-weight: 700;
    font-family: "Press Start 2P";
}

ul.mainUL {
    position: absolute;
    top: 435px;
    left: 750px;
    font-size: large;
    list-style-type: disc;
    padding: 15px 10px 4px 23px;
} 

li {
    padding: 10px 0 0 0;
}

ul.mainUL, ul.nestedUL, ul.socialUL {
    padding-left: 2em;
}

h2 {
    position: absolute;
    top: 875px;
    left: 775px;
    font-weight: 700;
    font-family: "Press Start 2P";
}

ul.socialUL {
    position: absolute;
    top: 900px;
    left: 800px;
    font-size: large;
    list-style-type: disc;
    padding: 15px 10px 4px 23px;
}

h3 {
    position: absolute;
    top: 1090px;
    left: 775px;
    font-weight: 700;
    font-family: "Press Start 2P";
}

ul.rulesUL {
    position: absolute;
    top: 1115px;
    left: 800px;
    font-size: large;
    list-style-type: disc;
    padding: 15px 10px 4px 23px;
    padding-bottom: 250px;
}

h1.login {
    text-align: center;
}

.login-card-container {
    align-items: center;
    display: block;
}

i.flag-iceland:before, i.flag-is:before {
    background-position: -36px -806px!important;
}
i.flag:before {
    content: "";
    background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px;
}
i.flag:before, i.flag:not(.icon) {
    display: inline-block;
    width: 16px;
    height: 11px;
}
*, :after, :before {
    box-sizing: border-box;
}